@import url(https://fonts.cdnfonts.com/css/druk-trial);
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px transparent;
  background-color: #3c3c3c00;
}
*,
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 12px;
  background-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px transparent;
  background-color: #3c3c3c;
}
.hero[data-v-bbfd8b70] {
  overflow: hidden;
}
.hero .row[data-v-bbfd8b70] {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  margin-bottom: 30px;
  opacity: 0;
  transition: opacity 0.5s ease;
  will-change: transform, opacity;
}
@media (max-width: 1025px) {
  .hero .row[data-v-bbfd8b70] {
    margin-bottom: 5px;
  }
}
.hero .row h1[data-v-bbfd8b70] {
  font-size: 160px;
  font-weight: 900;
  line-height: 1;
  margin-bottom: -30px;
  margin-top: -10px;
}
@media (max-width: 1025px) {
  .hero .row h1[data-v-bbfd8b70] {
    font-size: 10vw;
    margin-bottom: -1.7vw;
    margin-top: -0.5vw;
  }
}
.listNumbered[data-v-e80b30a3] {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.listNumbered[data-v-91f7fdcc] {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
@media (max-width: 414px) {
  .hero .row h1[data-v-bbfd8b70] {
    font-size: 10.5vw;
    margin-bottom: -1.7vw;
    margin-top: -0.5vw;
  }
}
.hero .row.animated[data-v-bbfd8b70] {
  opacity: 1;
}
.hero .row.animated.left[data-v-bbfd8b70] {
  animation-name: moveObjectLeft-bbfd8b70;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.3, 0.1, 0.2, 1);
  animation-iteration-count: infinite;
}
.hero .row.animated.right[data-v-bbfd8b70] {
  animation: moveObjectRight-bbfd8b70 2s ease-in-out infinite;
}
.hero .row.row-1 h1[data-v-bbfd8b70] {
  font-weight: 1000;
}
@media (max-width: 414px) {
  .hero .row.row-1 h1[data-v-bbfd8b70] {
    letter-spacing: -2px;
  }
}
.hero .row.row-2 .ruler[data-v-bbfd8b70] {
  background-color: var(--violet);
}
.hero .row.row-2 .ruler span[data-v-bbfd8b70] {
  background-color: var(--yellow);
  left: initial;
  right: 10px;
  animation: moveBallsRight-bbfd8b70 1.5s ease-in-out infinite alternate;
}
@media (max-width: 568px) {
  .hero .row.row-2 .ruler span[data-v-bbfd8b70] {
    animation: moveBallsRightMobile-bbfd8b70 1.5s ease-in-out infinite alternate;
  }
}
.hero .row.row-3 .ruler[data-v-bbfd8b70] {
  background-color: var(--green);
}
.hero .row.row-3 .ruler span[data-v-bbfd8b70] {
  background-color: var(--purple);
}
.hero .row.row-4 .ruler[data-v-bbfd8b70] {
  background-color: var(--yellow);
}
.hero .row.row-4 .ruler span[data-v-bbfd8b70] {
  background-color: var(--violet);
}
.hero .row.row-5 .ruler span[data-v-bbfd8b70] {
  background-color: var(--yellow);
  left: initial;
  right: 10px;
  animation: moveBallsRight-bbfd8b70 1.5s ease-in-out infinite alternate;
}
@media (max-width: 568px) {
  .hero .row.row-5 .ruler span[data-v-bbfd8b70] {
    animation: moveBallsRightMobile-bbfd8b70 1.5 ease-in-out infinite alternate;
  }
}
.hero .row.row-6 .ruler[data-v-bbfd8b70] {
  background-color: var(--violet);
}
.hero .row.row-6 .ruler span[data-v-bbfd8b70] {
  background-color: var(--yellow);
  left: initial;
  right: 10px;
  animation: moveBallsRight-bbfd8b70 1.5s ease-in-out infinite alternate;
}
@media (max-width: 568px) {
  .hero .row.row-6 .ruler span[data-v-bbfd8b70] {
    animation: moveBallsRightMobile-bbfd8b70 1.5s ease-in-out infinite alternate;
  }
}
.hero .ruler[data-v-bbfd8b70] {
  display: flex;
  flex: 1;
  width: 100%;
  background-color: var(--purple);
  margin: 0 7px;
  position: relative;
}
.hero .ruler[data-v-bbfd8b70]:before {
  content: "";
  display: block;
  width: 100%;
  height: calc(100% - 10px);
  background-color: #0f0f0f;
  border: none;
  border-radius: 775px;
  margin: 5px;
  box-sizing: border-box;
}
@media (max-width: 414px) {
  .hero .ruler[data-v-bbfd8b70]:before {
    margin: 1px;
    height: calc(100% - 2px);
  }
}
.hero .ruler span[data-v-bbfd8b70] {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--green);
  position: absolute;
  top: 10px;
  left: 10px;
  animation: moveBallsLeft-bbfd8b70 1.5s ease-in-out infinite alternate;
}
@media (max-width: 1024px) {
  .hero .ruler span[data-v-bbfd8b70] {
    width: 5.6vw;
    height: 5.6vw;
  }
}
@media (max-width: 768px) {
  .hero .ruler span[data-v-bbfd8b70] {
    width: 5.3vw;
    height: 5.3vw;
  }
}
@media (max-width: 576px) {
  .hero .ruler span[data-v-bbfd8b70] {
    width: 4.7vw;
    height: 4.7vw;
    animation: moveBallsLeftMobile-bbfd8b70 1.5s ease-in-out infinite alternate;
  }
}
@media (max-width: 414px) {
  .hero .ruler span[data-v-bbfd8b70] {
    width: 6.8vw;
    height: 6.8vw;
    top: 0.65vw;
    left: 1vw;
  }
}
@keyframes moveBallsLeft-bbfd8b70 {
  0% {
    left: 10px;
    transform: translate(0) scale(1);
  }
  50% {
    transform: translate(-50%) scaleX(2);
    border-radius: 50%/100%;
  }
  to {
    left: calc(100% - 10px);
    transform: translate(-100%) scale(1);
  }
}
@keyframes moveBallsLeftMobile-bbfd8b70 {
  0% {
    left: 3px;
    transform: translate(0) scale(1);
  }
  50% {
    transform: translate(-50%) scaleX(2);
    border-radius: 50%/100%;
  }
  to {
    left: calc(100% - 3px);
    transform: translate(-100%) scale(1);
  }
}
@keyframes moveBallsRight-bbfd8b70 {
  0% {
    right: 10px;
    transform: translate(0) scale(1);
  }
  50% {
    transform: translate(50%) scaleX(2);
    border-radius: 50%/100%;
  }
  to {
    right: calc(100% - 10px);
    transform: translate(100%) scale(1);
  }
}
@keyframes moveBallsRightMobile-bbfd8b70 {
  0% {
    right: 3px;
    transform: translate(0) scale(1);
  }
  50% {
    transform: translate(50%) scaleX(2);
    border-radius: 50%/100%;
  }
  to {
    right: calc(100% - 3px);
    transform: translate(100%) scale(1);
  }
}
@keyframes moveObject-bbfd8b70 {
  0% {
    transform: translate(100%);
  }
  50% {
    transform: translate(0);
  }
  to {
    transform: translate(100%);
  }
}
@keyframes moveObjectLeft-bbfd8b70 {
  0%,
  10% {
    transform: translate(0);
  }
  40% {
    transform: translate(calc(-1 * var(--h1-width)));
    animation-timing-function: cubic-bezier(0.3, 0.1, 0.2, 1);
  }
  70%,
  to {
    transform: translate(0);
  }
}
@keyframes moveObjectRight-bbfd8b70 {
  0%,
  10% {
    transform: translate(calc(-1 * var(--h1-width)));
  }
  40% {
    transform: translate(0);
    animation-timing-function: cubic-bezier(0.3, 0.1, 0.2, 1);
  }
  70%,
  to {
    transform: translate(calc(-1 * var(--h1-width)));
  }
}
:root {
  --white: #ffffff;
  --black: #0f0f0f;
  --purple: #d62c9d;
  --green: #5dd62c;
  --yellow: #b1ff91;
  --violet: #e9e9e9;
  --blue: #2295ff;
  --y: #ffc020;
}
*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: 400;
}
#app {
  position: relative;
  z-index: -1;
  display: block;
  overflow-x: hidden;
  color: var(--white);
  background-color: #0f0f0f;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.white {
  color: var(--white);
}
.black {
  color: #0f0f0f;
}
.purple {
  color: var(--purple);
}
.green {
  color: var(--yellow);
}
.silver {
  color: #c0c0c0;
}
.bronze {
  color: #cd7f32;
}
.yellow {
  color: var(--y);
}
.blue {
  color: var(--yellow);
}
.hero-loader .row[data-v-bbfd8b70] {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  opacity: 0;
  transition: opacity 0.5s ease;
  will-change: transform, opacity;
}
.hero-loader .row h1[data-v-bbfd8b70] {
  font-family: "Druk Text Trial";
  font-size: 160px;
  font-weight: 900;
  line-height: 1;
  margin-bottom: -30px;
  margin-top: -10px;
}
.hero-loader .row.animated[data-v-bbfd8b70] {
  opacity: 1;
}
.hero-loader .row.animated.left[data-v-bbfd8b70] {
  animation-name: moveObjectLeft-bbfd8b70;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.3, 0.1, 0.2, 1);
  animation-iteration-count: infinite;
}
.hero-loader .row.animated.right[data-v-bbfd8b70] {
  animation: moveObjectRight-bbfd8b70 2s ease-in-out infinite;
}
.hero-loader .row.row-1 h1[data-v-bbfd8b70] {
  font-family: "Druk Wide Trial";
  font-style: italic;
  font-weight: 1000;
}
.hero-loader .row.row-2 h1[data-v-bbfd8b70] {
  font-family: "Druk Text Trial";
}
.hero-loader .row.row-2 .ruler[data-v-bbfd8b70] {
  background-color: var(--violet);
}
.hero-loader .row.row-2 .ruler span[data-v-bbfd8b70] {
  background-color: var(--yellow);
  left: initial;
  right: 10px;
  animation: moveBallsRight-bbfd8b70 1.5s ease-in-out infinite alternate;
}
.hero-loader .row.row-3 h1[data-v-bbfd8b70] {
  font-family: "Druk Wide Trial";
  font-style: italic;
}
.hero-loader .row.row-3 .ruler[data-v-bbfd8b70] {
  background-color: var(--green);
}
.hero-loader .row.row-3 .ruler span[data-v-bbfd8b70] {
  background-color: var(--purple);
}
.hero-loader .row.row-4 h1[data-v-bbfd8b70] {
  font-family: "Druk Text Trial";
}
.hero-loader .row.row-4 .ruler[data-v-bbfd8b70] {
  background-color: var(--yellow);
}
.hero-loader .row.row-4 .ruler span[data-v-bbfd8b70] {
  background-color: var(--violet);
}
.hero-loader .row.row-5 h1[data-v-bbfd8b70] {
  font-family: "Druk Text Trial";
  font-style: italic;
}
.hero-loader .row.row-5 .ruler span[data-v-bbfd8b70] {
  background-color: var(--yellow);
  left: initial;
  right: 10px;
  animation: moveBallsRight-bbfd8b70 1.5s ease-in-out infinite alternate;
}
.hero-loader .row.row-6 h1[data-v-bbfd8b70] {
  margin-top: -17px;
  margin-bottom: -23px;
  margin-right: 5px;
  padding-right: 10px;
  padding-left: 5px;
}
.hero-loader .row.row-6 .ruler[data-v-bbfd8b70] {
  background-color: var(--yellow);
}
.hero-loader .row.row-6 .ruler span[data-v-bbfd8b70] {
  background-color: var(--violet);
}
.hero-loader .ruler[data-v-bbfd8b70] {
  display: flex;
  flex: 1;
  width: 100%;
  background-color: var(--purple);
  margin: 0 7px;
  position: relative;
}
.hero-loader .ruler[data-v-bbfd8b70]:before {
  content: "";
  display: block;
  width: 100%;
  height: calc(100% - 10px);
  background-color: #0f0f0f;
  border: none;
  border-radius: 775px;
  margin: 5px;
  box-sizing: border-box;
}
.hero-loader .ruler span[data-v-bbfd8b70] {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--green);
  position: absolute;
  top: 10px;
  left: 10px;
  animation: moveBallsLeft-bbfd8b70 1.5s ease-in-out infinite alternate;
}
@keyframes moveBallsLeft-bbfd8b70 {
  0% {
    left: 10px;
    transform: translate(0) scale(1);
  }
  50% {
    transform: translate(-50%) scaleX(2);
    border-radius: 50%/100%;
  }
  to {
    left: calc(100% - 10px);
    transform: translate(-100%) scale(1);
  }
}
@keyframes moveBallsLeftMobile-bbfd8b70 {
  0% {
    left: 3px;
    transform: translate(0) scale(1);
  }
  50% {
    transform: translate(-50%) scaleX(2);
    border-radius: 50%/100%;
  }
  to {
    left: calc(100% - 3px);
    transform: translate(-100%) scale(1);
  }
}
@keyframes moveBallsRight-bbfd8b70 {
  0% {
    right: 10px;
    transform: translate(0) scale(1);
  }
  50% {
    transform: translate(50%) scaleX(2);
    border-radius: 50%/100%;
  }
  to {
    right: calc(100% - 10px);
    transform: translate(100%) scale(1);
  }
}
@keyframes moveBallsRightMobile-bbfd8b70 {
  0% {
    right: 3px;
    transform: translate(0) scale(1);
  }
  50% {
    transform: translate(50%) scaleX(2);
    border-radius: 50%/100%;
  }
  to {
    right: calc(100% - 3px);
    transform: translate(100%) scale(1);
  }
}
@keyframes moveObject-bbfd8b70 {
  0% {
    transform: translate(100%);
  }
  50% {
    transform: translate(0);
  }
  to {
    transform: translate(100%);
  }
}
@keyframes moveObjectLeft-bbfd8b70 {
  0%,
  10% {
    transform: translate(0);
  }
  40% {
    transform: translate(calc(-1 * var(--h1-width)));
    animation-timing-function: cubic-bezier(0.3, 0.1, 0.2, 1);
  }
  70%,
  to {
    transform: translate(0);
  }
}
@keyframes moveObjectRight-bbfd8b70 {
  0%,
  10% {
    transform: translate(calc(-1 * var(--h1-width)));
  }
  40% {
    transform: translate(0);
    animation-timing-function: cubic-bezier(0.3, 0.1, 0.2, 1);
  }
  70%,
  to {
    transform: translate(calc(-1 * var(--h1-width)));
  }
}
@keyframes Loading {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Loading-Cube {
  0% {
    transform: scale(0.4);
  }
  20% {
    transform: scale(0.35);
  }
  40% {
    transform: scale(0.4);
  }
  60% {
    transform: scale(0.35);
  }
  80% {
    transform: scale(0.4);
  }
  100% {
    transform: scale(0);
  }
}
#loader {
  position: absolute;
  top: 50;
  left: 50;
  width: 100%;
  height: 100vh;
  z-index: 90;
  opacity: 0;
  animation: Loading 4s ease-out;
  animation-iteration-count: 1;
}
#loader-cube {
  animation: Loading-Cube 4s ease-in-out;
  animation-iteration-count: 1;
}
::-moz-selection {
  background-color: var(--green);
}
::selection {
  background-color: var(--green);
}
.titles {
  font-size: 90px;
  line-height: 80px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 60px;
}
@media screen and (max-width: 1025px) {
  .titles {
    font-size: 33px;
    line-height: 30px;
    margin-bottom: 30px;
  }
}
#venue-text {
  font-size: 5vw;
}
@media (min-width: 1024px) {
  #venue-text {
    font-size: 2.45vw;
  }
}
#sponsoring-section {
  width: 100%;
}
.numberedRow[data-v-661a9fb4] {
  display: flex;
  flex: 1;
  align-items: center;
  border-bottom: solid 4px #fff;
  padding-bottom: 10px;
  padding-top: 10px;
}
@media (max-width: 1025px) {
  .numberedRow[data-v-661a9fb4] {
    border-bottom: solid 2px #fff;
  }
}
.numberedRow[data-v-661a9fb4]:first-of-type {
  border-top: solid 4px #fff;
}
@media (max-width: 1025px) {
  .numberedRow[data-v-661a9fb4]:first-of-type {
    border-top: solid 2px #fff;
  }
}
.numberedRow__number[data-v-661a9fb4] {
  width: 50%;
  display: flex;
}
@media (max-width: 1025px) {
  .numberedRow__number[data-v-661a9fb4] {
    width: auto;
    margin-right: 24px;
  }
}
.numberedRow__number span[data-v-661a9fb4] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 127px;
  height: 127px;
  font-size: 70px;
  line-height: 80px;
  letter-spacing: -0.04em;
  color: #000;
  text-transform: uppercase;
  border: none;
  border-radius: 50%;
}
@media (max-width: 1025px) {
  .numberedRow__number span[data-v-661a9fb4] {
    font-size: 24px;
    line-height: 24px;
    width: 54px;
    height: 54px;
  }
}
.numberedRow__info[data-v-661a9fb4] {
  width: 50%;
  font-size: 26px;
  line-height: 32px;
}
@media (max-width: 1025px) {
  .numberedRow__info[data-v-661a9fb4] {
    width: auto;
    font-size: 15px;
    line-height: 18px;
  }
}
.numberedRow__info a[data-v-661a9fb4] {
  color: var(--white);
}
.numberedRow.agendaTemplate .numberedRow__number[data-v-661a9fb4] {
  width: auto;
}
.numberedRow.agendaTemplate .numberedRow__number[data-v-661a9fb4] span {
  margin: auto;
}
.numberedRow.agendaTemplate .numberedRow__info[data-v-661a9fb4] {
  display: flex;
  width: auto;
  flex: 1;
  justify-content: flex-end;
  font-style: italic;
  font-weight: bolder;
  font-size: 90px;
  line-height: 80px;
  text-transform: uppercase;
  text-align: right;
}
@media (max-width: 1025px) {
  .numberedRow.agendaTemplate .numberedRow__info[data-v-661a9fb4] {
    font-size: 33px;
    line-height: 30px;
  }
}
@media (max-width: 1025px) {
  .numberedRow.hasTitle[data-v-661a9fb4] {
    display: block;
  }
}
@media (max-width: 1025px) {
  .numberedRow.hasTitle .numberedRow__info[data-v-661a9fb4] {
    margin-bottom: 30px;
  }
}
.numberedRow .numberedRow__title[data-v-661a9fb4] {
  width: 50%;
  margin: 30px 0;
}
@media (max-width: 1025px) {
  .numberedRow .numberedRow__title[data-v-661a9fb4] {
    width: 100%;
  }
}
.numberedRow .numberedRow__title h4[data-v-661a9fb4] {
  display: flex;
  width: auto;
  letter-spacing: -0.04em;
  font-size: 90px;
  line-height: 80px;
  text-transform: uppercase;
}
@media (max-width: 1025px) {
  .numberedRow .numberedRow__title h4[data-v-661a9fb4] {
    width: 100%;
    font-size: 33px;
    line-height: 30px;
  }
}
.agenda h2[data-v-8daa8809] {
  font-size: 90px;
  line-height: 80px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  margin-bottom: 60px;
}
@media (max-width: 1025px) {
  .agenda h2[data-v-8daa8809] {
    font-size: 33px;
    line-height: 30px;
    margin-bottom: 30px;
  }
}

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: 400;
}
.mainButton[data-v-5122aac9] {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
  height: 79px;
  background-color: var(--yellow);
  color: #fff;
  font-size: 30px;
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0;
  transition: all ease 0.3s;
}
@media (max-width: 1025px) {
  .mainButton[data-v-5122aac9] {
    height: 60px;
    font-size: 30px;
    line-height: 30px;
  }
}
.mainButton[data-v-5122aac9]:before {
  content: "";
  display: block;
  width: calc(100% - 5px);
  height: calc(100% - 5px);
  background-color: #0f0f0f;
  border: none;
  border-radius: 775px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all ease 0.3s;
}
.mainButton[data-v-5122aac9]:hover {
  color: #0f0f0f;
  border-radius: 775px;
  transition: border-radius ease-in-out 1.3s, color ease-in-out 0.3s;
}
.mainButton[data-v-5122aac9]:hover:before {
  background-color: var(--yellow);
  cursor: pointer;
}
.mainButton[data-v-5122aac9] span:hover {
  cursor: pointer;
}
.speaker[data-v-a3e040c4] {
  margin: 0 5px 60px;
  width: calc(25% - 10px);
}
@media (max-width: 1025px) {
  .speaker[data-v-a3e040c4] {
    margin: 0 5px 30px;
    width: calc(50% - 10px);
  }
}
@media (max-width: 480px) {
  .speaker[data-v-a3e040c4] {
    width: calc(100% - 10px);
  }
}
.speaker__image[data-v-a3e040c4] {
  width: 100%;
  background-color: var(--purple);
  padding: 8px;
  margin: 0;
  overflow: hidden;
  border-radius: 0;
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}
@media (max-width: 1025px) {
  .speaker__image[data-v-a3e040c4] {
    margin-bottom: 15px;
  }
}
.speaker__image .speaker__companyLogo[data-v-a3e040c4] {
  transform: translateY(0);
  transition: transform 0.25s ease-in-out;
  height: 20%;
}
.speaker__image .speaker__companyLogo img[data-v-a3e040c4] {
  border: none;
  max-width: 70%;
  max-height: 70%;
}
@media (max-width: 1025px) {
  .speaker__image .speaker__companyLogo img[data-v-a3e040c4] {
    width: auto;
    height: auto;
    max-width: 70%;
    max-height: 70%;
    padding: 0;
  }
}
.speaker__image img[data-v-a3e040c4] {
  display: block;
  border: solid 11px #000;
  border-radius: 50%;
  transition: all 0.25s ease-in-out;
  width: 100%;
  height: auto;
}
.speaker__companyLogo[data-v-a3e040c4] {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #0f0f0f;
  border-radius: 776.928px;
  width: calc(100% - 16px);
  margin: 8px;
  box-sizing: border-box;
}
@media (max-width: 1025px) {
  .speaker__companyLogo[data-v-a3e040c4] {
    width: calc(100% - 16px);
  }
  .speaker__companyLogo img[data-v-a3e040c4] {
    max-width: 236px;
    padding: 14px 16px;
    border: none;
  }
}
.speaker__companyLogo img[data-v-a3e040c4] {
  width: initial;
  border-radius: 0;
}
.speaker__info[data-v-a3e040c4] {
  font-size: 30px;
  line-height: 25px;
  text-transform: uppercase;
  display: flex;
  margin-top: 30px;
}
@media (max-width: 1025px) {
  .speaker__info[data-v-a3e040c4] {
    font-size: 21px;
    line-height: 23px;
    margin-top: 15px;
  }
}
.speaker__info p[data-v-a3e040c4] {
  font-size: 16px;
  line-height: 16px;
  margin-top: 10px;
  letter-spacing: -0.04em;
}
@media (max-width: 1025px) {
  .speaker__info p[data-v-a3e040c4] {
    font-size: 14px;
    line-height: 14px;
  }
}
@media (min-width: 1024px) {
  .speaker:hover .speaker__image[data-v-a3e040c4] {
    border-radius: 50%;
    transform: scale(0.96);
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
  }
  .speaker:hover .speaker__image img[data-v-a3e040c4] {
    border: solid 0 #0f0f0f;
    transition: all 0.25s ease-in-out;
  }
  .speaker:hover .speaker__image .speaker__companyLogo[data-v-a3e040c4] {
    transform: translateY(200%);
    transition: transform 0.25s ease-in-out;
  }
  .speaker:hover .speaker__image .speaker__companyLogo img[data-v-a3e040c4] {
    border-color: #0f0f0f;
  }
}

.speakers h2[data-v-8daa8809] {
  font-size: 90px;
  line-height: 80px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  margin-bottom: 60px;
}
@media (max-width: 1025px) {
  .speakers h2[data-v-8daa8809] {
    font-size: 33px;
    line-height: 30px;
    margin-bottom: 30px;
  }
}

.speakerList[data-v-8daa8809] {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1025px) {
  .speakers h2[data-v-e80b30a3] {
    font-size: 33px;
    line-height: 30px;
    margin-bottom: 30px;
    display: none;
  }
}

.speakerList[data-v-e80b30a3] {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 80px;
}
@media (max-width: 1440px) {
  body {
    padding: 0 16px;
    font-size: 18px;
  }
}

.speakerList .speaker .speaker__image:hover {
  cursor: pointer;
}
.partner[data-v-8daa8809] {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 200px;
}
.partner h2[data-v-8daa8809] {
  font-size: 90px;
  line-height: 80px;
  margin-top: 0;
}
@media (max-width: 1025px) {
  .partner h2[data-v-8daa8809] {
    font-size: 33px;
    line-height: 30px;
    margin-bottom: 60px;
  }
}

.partner img[data-v-8daa8809] {
  height: auto;
}
@media (max-width: 1025px) {
  .partner[data-v-8daa8809] {
    flex-direction: column;
    margin-bottom: 60px;
  }
  .partner picture[data-v-8daa8809] {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .partner img[data-v-8daa8809] {
    max-width: 220px;
  }
}
.sponsors[data-v-8daa8809] {
  width: 100%;
  margin-bottom: 250px;
}
@media (max-width: 1025px) {
  .sponsors[data-v-8daa8809] {
    flex-direction: column;
    margin-bottom: 90px;
  }
}
.sponsors h2[data-v-8daa8809] {
  font-size: 90px;
  line-height: 80px;
  margin-top: 0;
}
@media (max-width: 1025px) {
  .sponsors h2[data-v-8daa8809] {
    font-size: 33px;
    line-height: 30px;
    margin-bottom: 30px;
  }
}
.sponsors h3[data-v-8daa8809] {
  font-size: 90px;
  line-height: 80px;
  margin-top: 120px;
  margin-bottom: 16px;
  text-align: center;
}
@media (max-width: 1025px) {
  .sponsors h3[data-v-8daa8809] {
    font-size: 33px;
    line-height: 30px;
    margin-top: 30px;
  }
}
.sponsors .sponsorsWrapper[data-v-8daa8809] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sponsors .sponsorsWrapper.last[data-v-8daa8809] {
  margin-bottom: 120px;
}
@media (max-width: 1025px) {
  .sponsors .sponsorsWrapper[data-v-8daa8809] {
    flex-direction: column;
  }
  .sponsors .sponsorsWrapper.last[data-v-8daa8809] {
    margin-bottom: 60px;
  }
}
.sponsors .sponsorsList[data-v-8daa8809] {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.sponsors .sponsorsList a[data-v-8daa8809] {
  width: 360px;
  height: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1025px) {
  .sponsors .sponsorsList a[data-v-8daa8809] {
    width: 50%;
    max-height: 160px;
  }
}
.sponsors .sponsorsList picture img[data-v-8daa8809] {
  display: block;
  width: 100%;
  height: auto;
  max-width: 320px;
}
.sponsors .sponsorsList picture img.sizeLogo[data-v-8daa8809] {
  max-width: 200px;
  max-height: 180px;
}
.sponsors .sponsorsList picture img.mediumLogo[data-v-8daa8809] {
  max-width: 220px;
  max-height: 220px;
}
.sponsors .sponsorsList picture img.tdaLogo[data-v-8daa8809] {
  width: 160px;
  max-width: 260px;
  max-height: 260px;
}
.sponsors .sponsorsList picture img.bigLogo[data-v-8daa8809] {
  width: 300px;
  max-width: 360px;
  max-height: 360px;
}
.sponsors .sponsorsList picture img.umamiLogo[data-v-8daa8809] {
  width: 360px;
  max-width: 360px;
  max-height: 360px;
}
@media (max-width: 1025px) {
  .sponsors .sponsorsList picture img[data-v-8daa8809] {
    max-width: 120px;
  }
  .sponsors .sponsorsList picture img.sizeLogo[data-v-8daa8809] {
    max-width: 90px;
  }
  .sponsors .sponsorsList picture img.mediumLogo[data-v-8daa8809] {
    max-width: 110px;
    max-height: 120px;
  }
  .sponsors .sponsorsList picture img.tdaLogo[data-v-8daa8809] {
    max-width: 110px;
    max-height: 120px;
  }
  .sponsors .sponsorsList picture img.bigLogo[data-v-8daa8809] {
    max-width: 120px;
  }
  .sponsors .sponsorsList picture img.umamiLogo[data-v-8daa8809] {
    width: 200px;
    max-width: 200px;
    max-height: 200px;
  }
}
.sponsors .sponsorsList .bigLogo img[data-v-8daa8809] {
  width: 360px;
  max-width: 360px;
}
@media (max-width: 1025px) {
  .sponsors .sponsorsList .bigLogo img[data-v-8daa8809] {
    max-width: 240px;
  }
}
.sponsors .description[data-v-8daa8809] {
  margin: 0;
}
.contact h2[data-v-8daa8809] {
  font-size: 90px;
  line-height: 80px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  margin-bottom: 60px;
}
@media (max-width: 1025px) {
  .contact h2[data-v-8daa8809] {
    font-size: 33px;
    line-height: 30px;
    margin-bottom: 30px;
  }
}
.contact .newsletterButton[data-v-8daa8809] {
  height: 200px;
  font-size: 160px;
  line-height: 130px;
  letter-spacing: -0.06em;
  margin-bottom: 10px;
}
@media (max-width: 1300px) {
  .contact .newsletterButton[data-v-8daa8809] {
    font-size: 120px;
    line-height: 100px;
  }
}
@media (max-width: 1025px) {
  .contact .newsletterButton[data-v-8daa8809] {
    width: 100vw;
    height: 60px;
    font-size: 30px;
    line-height: 30px;
    margin-left: -16px;
    margin-bottom: 2px;
  }
}
.contact .newsletterButton[data-v-8daa8809]:before {
  width: calc(100% - 32px);
  height: calc(100% - 14px);
}
@media (max-width: 1025px) {
  .contact .newsletterButton[data-v-8daa8809]:before {
    width: calc(100% - 8px);
    height: calc(100% - 4px);
  }
}
.contact .newsletterButton span[data-v-8daa8809] {
  margin-bottom: -10px;
}
@media (max-width: 1025px) {
  .contact .newsletterButton span[data-v-8daa8809] {
    margin-bottom: 0;
  }
}
.newsletterButton[data-v-8daa8809] {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
  height: 79px;
  background-color: var(--yellow);
  position: relative;
  color: #fff;
  font-size: 30px;
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all ease 0.3s;
}
@media (max-width: 1025px) {
  .newsletterButton[data-v-8daa8809] {
    width: 100vw;
    height: 60px;
    font-size: 30px;
    line-height: 30px;
    margin-left: -16px;
  }
}
.newsletterButton[data-v-8daa8809]:before {
  content: "";
  display: block;
  width: calc(100% - 5px);
  height: calc(100% - 5px);
  background-color: #0f0f0f;
  border: none;
  border-radius: 775px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all ease 0.3s;
}
.newsletterButton[data-v-8daa8809]:hover {
  color: #0f0f0f;
  border-radius: 775px;
  transition: border-radius ease-in-out 1.3s, color ease-in-out 0.3s;
}
.newsletterButton[data-v-8daa8809]:hover:before {
  background-color: var(--yellow);
}
.description[data-v-8a1cbb28] {
  margin-top: 170px;
  margin-bottom: 170px;
}
@media (max-width: 1025px) {
  .description[data-v-8a1cbb28] {
    margin: 0 0 60px;
  }
}
.listNumbered[data-v-e80b30a3] {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.contact[data-v-e80b30a3] {
  padding-top: 30px;
}
.contact h2[data-v-e80b30a3] {
  font-size: 90px;
  line-height: 80px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  margin-bottom: 60px;
}
@media (max-width: 1025px) {
  .contact h2[data-v-e80b30a3] {
    font-size: 33px;
    line-height: 30px;
    margin-bottom: 30px;
  }
}

.contact .newsletterButton[data-v-e80b30a3] {
  height: 200px;
  font-size: 160px;
  line-height: 130px;
  letter-spacing: -0.06em;
  margin-bottom: 10px;
}
@media (max-width: 1025px) {
  .contact .newsletterButton[data-v-e80b30a3] {
    width: 100vw;
    height: 60px;
    font-size: 30px;
    line-height: 30px;
    margin-left: -16px;
    margin-bottom: 2px;
  }
}
.contact .newsletterButton[data-v-e80b30a3]:before {
  width: calc(100% - 32px);
  height: calc(100% - 14px);
}
@media (max-width: 1025px) {
  .contact .newsletterButton[data-v-e80b30a3]:before {
    width: calc(100% - 8px);
    height: calc(100% - 4px);
  }
}
.contact .newsletterButton span[data-v-e80b30a3] {
  margin-bottom: -10px;
}
@media (max-width: 1025px) {
  .contact .newsletterButton span[data-v-e80b30a3] {
    margin-bottom: 0;
  }
}
.newsletterButton[data-v-412035aa] {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
  height: 79px;
  background-color: var(--yellow);
  position: relative;
  color: #fff;

  font-size: 30px;
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all ease 0.3s;
}
@media (max-width: 1025px) {
  .newsletterButton[data-v-412035aa] {
    width: 100vw;
    height: 60px;
    font-size: 30px;
    line-height: 30px;
    margin-left: -16px;
  }
}
.newsletterButton[data-v-412035aa]:before {
  content: "";
  display: block;
  width: calc(100% - 5px);
  height: calc(100% - 5px);
  background-color: #0f0f0f;
  border: none;
  border-radius: 775px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all ease 0.3s;
}
.newsletterButton[data-v-412035aa]:hover {
  color: #0f0f0f;
  border-radius: 775px;
  transition: border-radius ease-in-out 1.3s, color ease-in-out 0.3s;
}
.newsletterButton[data-v-412035aa]:hover:before {
  background-color: var(--yellow);
}
.description[data-v-412035aa] {
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding-right: 30px;
}
@media (max-width: 1025px) {
  .description[data-v-412035aa] {
    padding-right: 0;
  }
}
h1[data-v-91f7fdcc] {
  font-size: 160px;
  line-height: 120px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 60px;
  margin-top: 60px;
}
@media (max-width: 1025px) {
  h1[data-v-91f7fdcc] {
    font-size: 45px;
    line-height: 37px;
    margin-bottom: 0;
    margin-top: 30px;
  }
}
.description[data-v-91f7fdcc] {
  margin-bottom: 170px;
}
@media (max-width: 1025px) {
  .description[data-v-91f7fdcc] {
    margin-bottom: 45px;
  }
}
.listNumbered[data-v-91f7fdcc] {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.contact[data-v-91f7fdcc] {
  padding-top: 30px;
}
@media (max-width: 1025px) {
  .contact[data-v-91f7fdcc] {
    padding-top: 0;
  }
}
.contact h2[data-v-91f7fdcc] {
  font-size: 90px;
  line-height: 80px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  margin-bottom: 60px;
}
@media (max-width: 1025px) {
  .contact h2[data-v-91f7fdcc] {
    font-size: 33px;
    line-height: 30px;
    margin-bottom: 30px;
    margin-top: 0;
  }
}

.contact .newsletterButton[data-v-91f7fdcc] {
  height: 200px;
  font-size: 160px;
  line-height: 130px;
  letter-spacing: -0.06em;
  margin-bottom: 10px;
}
@media (max-width: 1025px) {
  .contact .newsletterButton[data-v-91f7fdcc] {
    width: 100vw;
    height: 60px;
    font-size: 30px;
    line-height: 30px;
    margin-left: -16px;
    margin-bottom: 2px;
  }
}
.contact .newsletterButton[data-v-91f7fdcc]:before {
  width: calc(100% - 32px);
  height: calc(100% - 14px);
}
@media (max-width: 1025px) {
  .contact .newsletterButton[data-v-91f7fdcc]:before {
    width: calc(100% - 8px);
    height: calc(100% - 4px);
  }
}
.contact .newsletterButton span[data-v-91f7fdcc] {
  margin-bottom: -10px;
}
@media (max-width: 1025px) {
  .contact .newsletterButton span[data-v-91f7fdcc] {
    margin-bottom: 0;
  }
}
.newsletterButton[data-v-91f7fdcc] {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
  height: 79px;
  background-color: var(--yellow);
  position: relative;
  color: #fff;
  font-size: 30px;
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all ease 0.3s;
}
@media (max-width: 1025px) {
  .newsletterButton[data-v-91f7fdcc] {
    width: 100vw;
    height: 60px;
    font-size: 30px;
    line-height: 30px;
    margin-left: -16px;
  }
}
.newsletterButton[data-v-91f7fdcc]:before {
  content: "";
  display: block;
  width: calc(100% - 5px);
  height: calc(100% - 5px);
  background-color: #0f0f0f;
  border: none;
  border-radius: 775px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all ease 0.3s;
}
.newsletterButton[data-v-91f7fdcc]:hover {
  color: #0f0f0f;
  border-radius: 775px;
  transition: border-radius ease-in-out 1.3s, color ease-in-out 0.3s;
}
.newsletterButton[data-v-91f7fdcc]:hover:before {
  background-color: var(--yellow);
}
*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: 400;
}
html {
  display: block;
  overflow-x: hidden;
  scroll-behavior: smooth;
  cursor: url(/assets/cursor-d9ef1de2.svg) 30 30, auto;
}
body {
  color: #fff;
  background: #0f0f0f;
}
* {
  margin: 0;
  padding: 0;
}

@media (max-width: 1025px) {
  .wrapper50 {
    width: 100%;
  }
}
.allignRight {
  display: flex;
  justify-content: flex-end;
}
h2 {
  margin-top: 30px;
}
h3 {
  font-size: 48px;
  line-height: 50px;
  letter-spacing: -0.06em;
  margin: 60px 0;
}
@media (max-width: 1025px) {
  h3 {
    font-size: 25px;
    line-height: 28px;
    margin: 30px 0;
  }
}
h3 a {
  text-decoration: none;
  color: var(--yellow);
}
.listNumbered[data-v-8daa8809] {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.numberedRow[data-v-661a9fb4] {
  display: flex;
  flex: 1;
  align-items: center;
  border-bottom: solid 4px #fff;
  padding-bottom: 10px;
  padding-top: 10px;
}
@media (max-width: 1025px) {
  .numberedRow[data-v-661a9fb4] {
    border-bottom: solid 2px #fff;
  }
}
.numberedRow[data-v-661a9fb4]:first-of-type {
  border-top: solid 4px #fff;
}
@media (max-width: 1025px) {
  .numberedRow[data-v-661a9fb4]:first-of-type {
    border-top: solid 2px #fff;
  }
}
.numberedRow__info[data-v-661a9fb4] {
  width: 50%;
  font-size: 26px;
  line-height: 32px;
}
@media (max-width: 1025px) {
  .numberedRow__info[data-v-661a9fb4] {
    width: auto;
    font-size: 15px;
    line-height: 18px;
  }
}
.numberedRow__info a[data-v-661a9fb4] {
  color: var(--white);
}
@media (max-width: 1025px) {
  .numberedRow.hasTitle[data-v-661a9fb4] {
    display: block;
  }
}
@media (max-width: 1025px) {
  .numberedRow.hasTitle .numberedRow__info[data-v-661a9fb4] {
    margin-bottom: 30px;
  }
}
.numberedRow .numberedRow__title[data-v-661a9fb4] {
  width: 50%;
  margin: 30px 0;
}
@media (max-width: 1025px) {
  .numberedRow .numberedRow__title[data-v-661a9fb4] {
    width: 100%;
  }
}
.numberedRow .numberedRow__title h4[data-v-661a9fb4] {
  display: flex;
  width: auto;
  letter-spacing: -0.04em;
  font-size: 90px;
  line-height: 80px;
  text-transform: uppercase;
}
@media (max-width: 1025px) {
  .numberedRow .numberedRow__title h4[data-v-661a9fb4] {
    width: 100%;
    font-size: 33px;
    line-height: 30px;
  }
}

.sub-sponsor {
  font-style: italic;
  font-weight: bolder;
}
.contactButton[data-v-5122aac9] {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
  height: 79px;
  background-color: var(--purple);
  color: #fff;
  font-size: 30px;
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0;
  transition: all ease 0.3s;
}
@media (max-width: 1025px) {
  .contactButton[data-v-5122aac9] {
    height: 60px;
    font-size: 30px;
    line-height: 30px;
  }
}
.contactButton[data-v-5122aac9]:before {
  content: "";
  display: block;
  width: calc(100% - 5px);
  height: calc(100% - 5px);
  background-color: #0f0f0f;
  border: none;
  border-radius: 775px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all ease 0.3s;
}
.contactButton[data-v-5122aac9]:hover {
  color: #0f0f0f;
  border-radius: 775px;
  transition: border-radius ease-in-out 1.3s, color ease-in-out 0.3s;
}
.contactButton[data-v-5122aac9]:hover:before {
  background-color: var(--purple);
  cursor: pointer;
}
.contactButton[data-v-5122aac9] span:hover {
  cursor: pointer;
}
.dayList[data-v-412035aa] {
  display: flex;
  gap: 6px;
  margin-bottom: 60px;
}

.agendaButton[data-v-412035aa] {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
  height: 109px;
  background-color: #fff;
  position: relative;
  color: #fff;
  font-size: 90px;
  line-height: 80px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 0;
  transition: all ease 0.3s;
  padding-bottom: 10px;
}

@media (max-width: 1025px) {
  .agendaButton[data-v-412035aa] {
    width: 100vw;
    height: 60px;
    font-size: 30px;
    line-height: 30px;
  }
}

.agendaButton.isActive[data-v-412035aa] {
  background-color: var(--yellow);
  color: var(--purple);
}

.agendaButton[data-v-412035aa]:before {
  content: "";
  display: block;
  width: calc(100% - 5px);
  height: calc(100% - 5px);
  background-color: var(--black);
  border: none;
  cursor: pointer;
  border-radius: 775px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all ease 0.3s;
}

@media (min-width: 1024px) {
  .agendaButton[data-v-412035aa]:hover {
    background-color: var(--yellow);
    cursor: pointer;
    color: var(--black);
    border-radius: 775px;
    transition: border-radius ease-in-out 1.3s, color ease-in-out 0.3s;
  }

  .agendaButton[data-v-412035aa]:hover:before {
    background-color: var(--yellow);
  }
}

.agendaList[data-v-412035aa] {
  flex-direction: column;
  margin-bottom: 250px;
}

@media (max-width: 1025px) {
  .agendaList[data-v-412035aa] {
    margin-bottom: 170px;
  }
}

.agendaList .agendaItem[data-v-412035aa] {
  display: flex;
  font-style: italic;
  flex-direction: column;
  border-top: solid white 4px;
  padding: 20px 0;
}

@media (max-width: 1025px) {
  .agendaList .agendaItem[data-v-412035aa] {
    border-top: solid white 2px;
  }
}

.agendaList .agendaItem[data-v-412035aa]:last-child {
  border-bottom: solid white 4px;
}

@media (max-width: 1025px) {
  .agendaList .agendaItem[data-v-412035aa]:last-child {
    border-bottom: solid white 2px;
  }
}

.agendaList .agendaItem .time[data-v-412035aa] {
  font-size: 30px;
}

@media (max-width: 1025px) {
  .agendaList .agendaItem .time[data-v-412035aa] {
    font-size: 21px;
  }
}

.agendaList .agendaItem .title[data-v-412035aa] {
  font-size: 48px;
  line-height: 50px;
  letter-spacing: -0.06em;
  max-width: 80%;
  margin-bottom: 20px;
}

@media (max-width: 1025px) {
  .agendaList .agendaItem .title[data-v-412035aa] {
    font-size: 25px;
    line-height: 28px;
  }
}

.agendaList .agendaItem .speakerInfo[data-v-412035aa] {
  font-size: 30px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

@media (max-width: 1025px) {
  .agendaList .agendaItem .speakerInfo[data-v-412035aa] {
    font-size: 21px;
    line-height: 23px;
  }
}

.agendaList .agendaItemSection[data-v-412035aa] {
  display: flex;
  width: 100%;
}

.agendaList .agendaItemSection .left[data-v-412035aa] {
  width: 65%;
}

.agendaList .agendaItemSection .right[data-v-412035aa] {
  padding-left: 20px;
}

.agendaList .agendaItemSection[data-v-412035aa]:nth-of-type(1) {
  margin-bottom: 30px;
}

@media (max-width: 1025px) {
  .agendaList .agendaItemSection[data-v-412035aa]:nth-of-type(1) {
    justify-content: space-between;
  }
}

@media (max-width: 1025px) {
  .agendaList .agendaItemSection[data-v-412035aa]:nth-of-type(2) {
    flex-direction: column;
  }

  .agendaList .agendaItemSection:nth-of-type(2) .left[data-v-412035aa] {
    width: 100%;
    margin-bottom: 16px;
  }

  .agendaList .agendaItemSection:nth-of-type(2) .right[data-v-412035aa] {
    width: 100%;
    padding-left: 0;
  }

  .agendaList .agendaItemSection:nth-of-type(2) .title[data-v-412035aa] {
    max-width: 100%;
  }
}
.custom-arrow::after {
  content: '▼'; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}