@import url(https://fonts.cdnfonts.com/css/druk-trial);
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px transparent;
  background-color: #3c3c3c00;
}
*,
html {
  color: #fff;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 12px;
  background-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px transparent;
  background-color: #3c3c3c;
}
.hero[data-v-bbfd8b70] {
  overflow: hidden;
}
.hero .row[data-v-bbfd8b70] {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  margin-bottom: 20px;
  opacity: 0;
  transition: opacity 0.5s ease;
  will-change: transform, opacity;
}
@media (max-width: 1025px) {
  .hero .row[data-v-bbfd8b70] {
    margin-bottom: 5px;
  }
}
.hero .row h1[data-v-bbfd8b70] {
  font-size: 160px;
  font-weight: 900;
  line-height: 1;
  margin-bottom: -30px;
  margin-top: -10px;
}
@media (max-width: 1025px) {
  .hero .row h1[data-v-bbfd8b70] {
    font-size: 10vw;
    margin-bottom: -1.7vw;
    margin-top: -0.5vw;
  }
}
.listNumbered[data-v-e80b30a3] {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.listNumbered[data-v-91f7fdcc] {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
@media (max-width: 414px) {
  .hero .row h1[data-v-bbfd8b70] {
    font-size: 10.5vw;
    margin-bottom: -1.7vw;
    margin-top: -0.5vw;
  }
}
.hero .row.animated[data-v-bbfd8b70] {
  opacity: 1;
}
.hero .row.animated.left[data-v-bbfd8b70] {
  animation-name: moveObjectLeft-bbfd8b70;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.3, 0.1, 0.2, 1);
  animation-iteration-count: infinite;
}
.hero .row.animated.right[data-v-bbfd8b70] {
  animation: moveObjectRight-bbfd8b70 2s ease-in-out infinite;
}
.hero .row.row-1 h1[data-v-bbfd8b70] {
  font-weight: 1000;
}
@media (max-width: 414px) {
  .hero .row.row-1 h1[data-v-bbfd8b70] {
    letter-spacing: -2px;
  }
}
.hero .row.row-2 .ruler[data-v-bbfd8b70] {
  background-color: var(--violet);
}
.hero .row.row-2 .ruler span[data-v-bbfd8b70] {
  background-color: var(--yellow);
  left: initial;
  right: 10px;
  animation: moveBallsRight-bbfd8b70 0.75s ease-in-out infinite alternate;
}
@media (max-width: 568px) {
  .hero .row.row-2 .ruler span[data-v-bbfd8b70] {
    animation: moveBallsRightMobile-bbfd8b70 0.75s ease-in-out infinite
      alternate;
  }
}
.hero .row.row-3 .ruler[data-v-bbfd8b70] {
  background-color: var(--green);
}
.hero .row.row-3 .ruler span[data-v-bbfd8b70] {
  background-color: var(--purple);
}
.hero .row.row-4 .ruler[data-v-bbfd8b70] {
  background-color: var(--yellow);
}
.hero .row.row-4 .ruler span[data-v-bbfd8b70] {
  background-color: var(--violet);
}
.hero .row.row-5 .ruler span[data-v-bbfd8b70] {
  background-color: var(--yellow);
  left: initial;
  right: 10px;
  animation: moveBallsRight-bbfd8b70 0.75s ease-in-out infinite alternate;
}
@media (max-width: 568px) {
  .hero .row.row-5 .ruler span[data-v-bbfd8b70] {
    animation: moveBallsRightMobile-bbfd8b70 0.75s ease-in-out infinite
      alternate;
  }
}
.hero .row.row-6 .ruler[data-v-bbfd8b70] {
  background-color: var(--violet);
}
.hero .row.row-6 .ruler span[data-v-bbfd8b70] {
  background-color: var(--yellow);
  left: initial;
  right: 10px;
  animation: moveBallsRight-bbfd8b70 0.75s ease-in-out infinite alternate;
}
@media (max-width: 568px) {
  .hero .row.row-6 .ruler span[data-v-bbfd8b70] {
    animation: moveBallsRightMobile-bbfd8b70 0.75s ease-in-out infinite
      alternate;
  }
}
.hero .ruler[data-v-bbfd8b70] {
  display: flex;
  flex: 1;
  width: 100%;
  background-color: var(--purple);
  margin: 0 7px;
  position: relative;
}
.hero .ruler[data-v-bbfd8b70]:before {
  content: "";
  display: block;
  width: 100%;
  height: calc(100% - 10px);
  background-color: var(--black);
  border: none;
  border-radius: 775px;
  margin: 5px;
  box-sizing: border-box;
}
@media (max-width: 414px) {
  .hero .ruler[data-v-bbfd8b70]:before {
    margin: 1px;
    height: calc(100% - 2px);
  }
}
.hero .ruler span[data-v-bbfd8b70] {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--green);
  position: absolute;
  top: 10px;
  left: 10px;
  animation: moveBallsLeft-bbfd8b70 0.75s ease-in-out infinite alternate;
}
@media (max-width: 1024px) {
  .hero .ruler span[data-v-bbfd8b70] {
    width: 5.6vw;
    height: 5.6vw;
  }
}
@media (max-width: 768px) {
  .hero .ruler span[data-v-bbfd8b70] {
    width: 5.3vw;
    height: 5.3vw;
  }
}
@media (max-width: 576px) {
  .hero .ruler span[data-v-bbfd8b70] {
    width: 4.7vw;
    height: 4.7vw;
    animation: moveBallsLeftMobile-bbfd8b70 0.75s ease-in-out infinite alternate;
  }
}
@media (max-width: 414px) {
  .hero .ruler span[data-v-bbfd8b70] {
    width: 6.8vw;
    height: 6.8vw;
    top: 0.65vw;
    left: 1vw;
  }
}
@keyframes moveBallsLeft-bbfd8b70 {
  0% {
    left: 10px;
    transform: translate(0) scale(1);
  }
  50% {
    transform: translate(-50%) scaleX(2);
    border-radius: 50%/100%;
  }
  to {
    left: calc(100% - 10px);
    transform: translate(-100%) scale(1);
  }
}
@keyframes moveBallsLeftMobile-bbfd8b70 {
  0% {
    left: 3px;
    transform: translate(0) scale(1);
  }
  50% {
    transform: translate(-50%) scaleX(2);
    border-radius: 50%/100%;
  }
  to {
    left: calc(100% - 3px);
    transform: translate(-100%) scale(1);
  }
}
@keyframes moveBallsRight-bbfd8b70 {
  0% {
    right: 10px;
    transform: translate(0) scale(1);
  }
  50% {
    transform: translate(50%) scaleX(2);
    border-radius: 50%/100%;
  }
  to {
    right: calc(100% - 10px);
    transform: translate(100%) scale(1);
  }
}
@keyframes moveBallsRightMobile-bbfd8b70 {
  0% {
    right: 3px;
    transform: translate(0) scale(1);
  }
  50% {
    transform: translate(50%) scaleX(2);
    border-radius: 50%/100%;
  }
  to {
    right: calc(100% - 3px);
    transform: translate(100%) scale(1);
  }
}
@keyframes moveObject-bbfd8b70 {
  0% {
    transform: translate(100%);
  }
  50% {
    transform: translate(0);
  }
  to {
    transform: translate(100%);
  }
}
@keyframes moveObjectLeft-bbfd8b70 {
  0%,
  10% {
    transform: translate(0);
  }
  40% {
    transform: translate(calc(-1 * var(--h1-width)));
    animation-timing-function: cubic-bezier(0.3, 0.1, 0.2, 1);
  }
  70%,
  to {
    transform: translate(0);
  }
}
@keyframes moveObjectRight-bbfd8b70 {
  0%,
  10% {
    transform: translate(calc(-1 * var(--h1-width)));
  }
  40% {
    transform: translate(0);
    animation-timing-function: cubic-bezier(0.3, 0.1, 0.2, 1);
  }
  70%,
  to {
    transform: translate(calc(-1 * var(--h1-width)));
  }
}
:root {
  --white: #ffffff;
  --black: #0f0f0f;
  --purple: #d62c9d;
  --green: #5dd62c;
  --yellow: #b1ff91;
  --violet: #e9e9e9;
  --blue: #2295ff;
  --y: #ffc020;
}
*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: 400;
}
#app {
  position: relative;
  z-index: -1;
  display: block;
  overflow-x: hidden;
  color: var(--white);
  background-color: var(--black);
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.white {
  color: var(--white);
}
.black {
  color: var(--black);
}
.purple {
  color: var(--purple);
}
.green {
  color: var(--green);
}
.yellow {
  color: var(--yellow);
}
.blue {
  color: var(--yellow);
}
.hero-loader .row[data-v-bbfd8b70] {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  opacity: 0;
  transition: opacity 0.5s ease;
  will-change: transform, opacity;
}
.hero-loader .row h1[data-v-bbfd8b70] {
  font-family: "Druk Text Trial";
  font-size: 160px;
  font-weight: 900;
  line-height: 1;
  margin-bottom: -30px;
  margin-top: -10px;
}
.hero-loader .row.animated[data-v-bbfd8b70] {
  opacity: 1;
}
.hero-loader .row.animated.left[data-v-bbfd8b70] {
  animation-name: moveObjectLeft-bbfd8b70;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.3, 0.1, 0.2, 1);
  animation-iteration-count: infinite;
}
.hero-loader .row.animated.right[data-v-bbfd8b70] {
  animation: moveObjectRight-bbfd8b70 2s ease-in-out infinite;
}
.hero-loader .row.row-1 h1[data-v-bbfd8b70] {
  font-family: "Druk Wide Trial";
  font-style: italic;
  font-weight: 1000;
}
.hero-loader .row.row-2 h1[data-v-bbfd8b70] {
  font-family: "Druk Text Trial";
}
.hero-loader .row.row-2 .ruler[data-v-bbfd8b70] {
  background-color: var(--violet);
}
.hero-loader .row.row-2 .ruler span[data-v-bbfd8b70] {
  background-color: var(--yellow);
  left: initial;
  right: 10px;
  animation: moveBallsRight-bbfd8b70 0.75s ease-in-out infinite alternate;
}
.hero-loader .row.row-3 h1[data-v-bbfd8b70] {
  font-family: "Druk Wide Trial";
  font-style: italic;
}
.hero-loader .row.row-3 .ruler[data-v-bbfd8b70] {
  background-color: var(--green);
}
.hero-loader .row.row-3 .ruler span[data-v-bbfd8b70] {
  background-color: var(--purple);
}
.hero-loader .row.row-4 h1[data-v-bbfd8b70] {
  font-family: "Druk Text Trial";
}
.hero-loader .row.row-4 .ruler[data-v-bbfd8b70] {
  background-color: var(--yellow);
}
.hero-loader .row.row-4 .ruler span[data-v-bbfd8b70] {
  background-color: var(--violet);
}
.hero-loader .row.row-5 h1[data-v-bbfd8b70] {
  font-family: "Druk Text Trial";
  font-style: italic;
}
.hero-loader .row.row-5 .ruler span[data-v-bbfd8b70] {
  background-color: var(--yellow);
  left: initial;
  right: 10px;
  animation: moveBallsRight-bbfd8b70 0.75s ease-in-out infinite alternate;
}
.hero-loader .row.row-6 h1[data-v-bbfd8b70] {
  font-family: DrukCond-SuperItalic-Trial;
  margin-top: -17px;
  margin-bottom: -23px;
  margin-right: 5px;
  padding-right: 10px;
  padding-left: 5px;
}
.hero-loader .row.row-6 .ruler[data-v-bbfd8b70] {
  background-color: var(--yellow);
}
.hero-loader .row.row-6 .ruler span[data-v-bbfd8b70] {
  background-color: var(--violet);
}
.hero-loader .ruler[data-v-bbfd8b70] {
  display: flex;
  flex: 1;
  width: 100%;
  background-color: var(--purple);
  margin: 0 7px;
  position: relative;
}
.hero-loader .ruler[data-v-bbfd8b70]:before {
  content: "";
  display: block;
  width: 100%;
  height: calc(100% - 10px);
  background-color: var(--black);
  border: none;
  border-radius: 775px;
  margin: 5px;
  box-sizing: border-box;
}
.hero-loader .ruler span[data-v-bbfd8b70] {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--green);
  position: absolute;
  top: 10px;
  left: 10px;
  animation: moveBallsLeft-bbfd8b70 0.75s ease-in-out infinite alternate;
}
@keyframes moveBallsLeft-bbfd8b70 {
  0% {
    left: 10px;
    transform: translate(0) scale(1);
  }
  50% {
    transform: translate(-50%) scaleX(2);
    border-radius: 50%/100%;
  }
  to {
    left: calc(100% - 10px);
    transform: translate(-100%) scale(1);
  }
}
@keyframes moveBallsLeftMobile-bbfd8b70 {
  0% {
    left: 3px;
    transform: translate(0) scale(1);
  }
  50% {
    transform: translate(-50%) scaleX(2);
    border-radius: 50%/100%;
  }
  to {
    left: calc(100% - 3px);
    transform: translate(-100%) scale(1);
  }
}
@keyframes moveBallsRight-bbfd8b70 {
  0% {
    right: 10px;
    transform: translate(0) scale(1);
  }
  50% {
    transform: translate(50%) scaleX(2);
    border-radius: 50%/100%;
  }
  to {
    right: calc(100% - 10px);
    transform: translate(100%) scale(1);
  }
}
@keyframes moveBallsRightMobile-bbfd8b70 {
  0% {
    right: 3px;
    transform: translate(0) scale(1);
  }
  50% {
    transform: translate(50%) scaleX(2);
    border-radius: 50%/100%;
  }
  to {
    right: calc(100% - 3px);
    transform: translate(100%) scale(1);
  }
}
@keyframes moveObject-bbfd8b70 {
  0% {
    transform: translate(100%);
  }
  50% {
    transform: translate(0);
  }
  to {
    transform: translate(100%);
  }
}
@keyframes moveObjectLeft-bbfd8b70 {
  0%,
  10% {
    transform: translate(0);
  }
  40% {
    transform: translate(calc(-1 * var(--h1-width)));
    animation-timing-function: cubic-bezier(0.3, 0.1, 0.2, 1);
  }
  70%,
  to {
    transform: translate(0);
  }
}
@keyframes moveObjectRight-bbfd8b70 {
  0%,
  10% {
    transform: translate(calc(-1 * var(--h1-width)));
  }
  40% {
    transform: translate(0);
    animation-timing-function: cubic-bezier(0.3, 0.1, 0.2, 1);
  }
  70%,
  to {
    transform: translate(calc(-1 * var(--h1-width)));
  }
}
@keyframes Loading {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Loading-Cube {
  0% {
    transform: scale(0.4);
  }
  20% {
    transform: scale(0.35);
  }
  40% {
    transform: scale(0.4);
  }
  60% {
    transform: scale(0.35);
  }
  80% {
    transform: scale(0.4);
  }
  100% {
    transform: scale(0);
  }
}
#loader {
  position: absolute;
  top: 50;
  left: 50;
  width: 100%;
  height: 100vh;
  z-index: 90;
  opacity: 0;
  animation: Loading 4s ease-out;
  animation-iteration-count: 1;
}
#loader-cube {
  animation: Loading-Cube 4s ease-in-out;
  animation-iteration-count: 1;
}
::-moz-selection {
  background-color: var(--green);
}
::selection {
  background-color: var(--green);
}
.titles {
  font-size: 90px;
  line-height: 80px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 60px;
}
@media screen and (max-width: 1025px) {
  .titles {
    font-size: 33px;
    line-height: 30px;
    margin-bottom: 30px;
  }
}
#venue-text {
  font-size: 5vw;
}
@media (min-width: 1024px) {
  #venue-text {
    font-size: 2.45vw;
  }
}
.numberedRow[data-v-661a9fb4] {
  display: flex;
  flex: 1;
  align-items: center;
  border-bottom: solid 4px #fff;
  padding-bottom: 10px;
  padding-top: 10px;
}
@media (max-width: 1025px) {
  .numberedRow[data-v-661a9fb4] {
    border-bottom: solid 2px #fff;
  }
}
.numberedRow[data-v-661a9fb4]:first-of-type {
  border-top: solid 4px #fff;
}
@media (max-width: 1025px) {
  .numberedRow[data-v-661a9fb4]:first-of-type {
    border-top: solid 2px #fff;
  }
}
.numberedRow__number[data-v-661a9fb4] {
  width: 50%;
  display: flex;
}
@media (max-width: 1025px) {
  .numberedRow__number[data-v-661a9fb4] {
    width: auto;
    margin-right: 24px;
  }
}
.numberedRow__number span[data-v-661a9fb4] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 127px;
  height: 127px;
  font-size: 70px;
  line-height: 80px;
  letter-spacing: -0.04em;
  color: #000;
  text-transform: uppercase;
  border: none;
  border-radius: 50%;
}
@media (max-width: 1025px) {
  .numberedRow__number span[data-v-661a9fb4] {
    font-size: 24px;
    line-height: 24px;
    width: 54px;
    height: 54px;
  }
}
.numberedRow__info[data-v-661a9fb4] {
  width: 50%;
  font-size: 26px;
  line-height: 32px;
}
@media (max-width: 1025px) {
  .numberedRow__info[data-v-661a9fb4] {
    width: auto;
    font-size: 15px;
    line-height: 18px;
  }
}
.numberedRow__info a[data-v-661a9fb4] {
  color: var(--white);
}
.numberedRow.agendaTemplate .numberedRow__number[data-v-661a9fb4] {
  width: auto;
}
.numberedRow.agendaTemplate .numberedRow__number[data-v-661a9fb4] span {
  margin: auto;
}
.numberedRow.agendaTemplate .numberedRow__info[data-v-661a9fb4] {
  display: flex;
  width: auto;
  flex: 1;
  justify-content: flex-end;
  font-style: italic;
  font-weight: bolder;
  font-size: 90px;
  line-height: 80px;
  text-transform: uppercase;
  text-align: right;
}
@media (max-width: 1025px) {
  .numberedRow.agendaTemplate .numberedRow__info[data-v-661a9fb4] {
    font-size: 33px;
    line-height: 30px;
  }
}
@media (max-width: 1025px) {
  .numberedRow.hasTitle[data-v-661a9fb4] {
    display: block;
  }
}
@media (max-width: 1025px) {
  .numberedRow.hasTitle .numberedRow__info[data-v-661a9fb4] {
    margin-bottom: 30px;
  }
}
.numberedRow .numberedRow__title[data-v-661a9fb4] {
  width: 50%;
  margin: 30px 0;
}
@media (max-width: 1025px) {
  .numberedRow .numberedRow__title[data-v-661a9fb4] {
    width: 100%;
  }
}
.numberedRow .numberedRow__title h4[data-v-661a9fb4] {
  display: flex;
  width: auto;
  letter-spacing: -0.04em;
  font-size: 90px;
  line-height: 80px;
  text-transform: uppercase;
}
@media (max-width: 1025px) {
  .numberedRow .numberedRow__title h4[data-v-661a9fb4] {
    width: 100%;
    font-size: 33px;
    line-height: 30px;
  }
}
.agenda h2[data-v-8daa8809] {
  font-family: DrukWide-Super;
  font-size: 90px;
  line-height: 80px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  margin-bottom: 60px;
}
@media (max-width: 1025px) {
  .agenda h2[data-v-8daa8809] {
    font-size: 33px;
    line-height: 30px;
    margin-bottom: 30px;
  }
}
.agenda__the[data-v-8daa8809] {
  font-family: DrukText-Medium;
}
.agenda__text[data-v-8daa8809] {
  font-family: DrukWide-Medium;
}
*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: 400;
}
.mainButton[data-v-5122aac9] {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
  height: 79px;
  background-color: var(--yellow);
  color: #fff;
  font-size: 30px;
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0;
  transition: all ease 0.3s;
}
@media (max-width: 1025px) {
  .mainButton[data-v-5122aac9] {
    height: 60px;
    font-size: 30px;
    line-height: 30px;
  }
}
.mainButton[data-v-5122aac9]:before {
  content: "";
  display: block;
  width: calc(100% - 5px);
  height: calc(100% - 5px);
  background-color: var(--black);
  border: none;
  border-radius: 775px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all ease 0.3s;
}
.mainButton[data-v-5122aac9]:hover {
  color: var(--black);
  border-radius: 775px;
  transition: border-radius ease-in-out 1.3s, color ease-in-out 0.3s;
}
.mainButton[data-v-5122aac9]:hover:before {
  background-color: var(--yellow);
  cursor: pointer;
}
.mainButton[data-v-5122aac9] span:hover {
  cursor: pointer;
}
.speaker[data-v-a3e040c4] {
  margin: 0 5px 60px;
  width: calc(25% - 10px);
}
@media (max-width: 1025px) {
  .speaker[data-v-a3e040c4] {
    margin: 0 5px 30px;
    width: calc(50% - 10px);
  }
}
@media (max-width: 480px) {
  .speaker[data-v-a3e040c4] {
    width: calc(100% - 10px);
  }
}
.speaker__image[data-v-a3e040c4] {
  width: 100%;
  background-color: var(--purple);
  padding: 8px;
  margin: 0;
  overflow: hidden;
  border-radius: 0;
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}
@media (max-width: 1025px) {
  .speaker__image[data-v-a3e040c4] {
    margin-bottom: 15px;
  }
}
.speaker__image .speaker__companyLogo[data-v-a3e040c4] {
  transform: translateY(0);
  transition: transform 0.25s ease-in-out;
  height: 20%;
}
.speaker__image .speaker__companyLogo img[data-v-a3e040c4] {
  border: none;
  max-width: 70%;
  max-height: 70%;
}
@media (max-width: 1025px) {
  .speaker__image .speaker__companyLogo img[data-v-a3e040c4] {
    width: auto;
    height: auto;
    max-width: 70%;
    max-height: 70%;
    padding: 0;
  }
}
.speaker__image img[data-v-a3e040c4] {
  display: block;
  border: solid 11px #000;
  border-radius: 50%;
  transition: all 0.25s ease-in-out;
  width: 100%;
  height: auto;
}
.speaker__companyLogo[data-v-a3e040c4] {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--black);
  border-radius: 776.928px;
  width: calc(100% - 16px);
  margin: 8px;
  box-sizing: border-box;
}
@media (max-width: 1025px) {
  .speaker__companyLogo[data-v-a3e040c4] {
    width: calc(100% - 16px);
  }
  .speaker__companyLogo img[data-v-a3e040c4] {
    max-width: 236px;
    padding: 14px 16px;
    border: none;
  }
}
.speaker__companyLogo img[data-v-a3e040c4] {
  width: initial;
  border-radius: 0;
}
.speaker__info[data-v-a3e040c4] {
  font-size: 30px;
  line-height: 25px;
  text-transform: uppercase;
  font-family: DrukText-Medium;
  display: flex;
  margin-top: 30px;
}
@media (max-width: 1025px) {
  .speaker__info[data-v-a3e040c4] {
    font-size: 21px;
    line-height: 23px;
    margin-top: 15px;
  }
}
.speaker__info p[data-v-a3e040c4] {
  font-size: 16px;
  line-height: 16px;
  margin-top: 10px;
  letter-spacing: -0.04em;
}
@media (max-width: 1025px) {
  .speaker__info p[data-v-a3e040c4] {
    font-size: 14px;
    line-height: 14px;
  }
}
@media (min-width: 1024px) {
  .speaker:hover .speaker__image[data-v-a3e040c4] {
    border-radius: 50%;
    transform: scale(0.96);
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
  }
  .speaker:hover .speaker__image img[data-v-a3e040c4] {
    border: solid 0 var(--black);
    transition: all 0.25s ease-in-out;
  }
  .speaker:hover .speaker__image .speaker__companyLogo[data-v-a3e040c4] {
    transform: translateY(200%);
    transition: transform 0.25s ease-in-out;
  }
  .speaker:hover .speaker__image .speaker__companyLogo img[data-v-a3e040c4] {
    border-color: var(--black);
  }
}
.speakers[data-v-8daa8809] {
  padding-top: 30px;
  margin-bottom: 250px;
}
@media (max-width: 1025px) {
  .speakers[data-v-8daa8809] {
    margin-bottom: 60px;
  }
}
.speakers h2[data-v-8daa8809] {
  font-family: DrukText-Super;
  font-size: 90px;
  line-height: 80px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  margin-bottom: 60px;
}
@media (max-width: 1025px) {
  .speakers h2[data-v-8daa8809] {
    font-size: 33px;
    line-height: 30px;
    margin-bottom: 30px;
  }
}
.speakers__eak[data-v-8daa8809] {
  font-family: DrukWide-SuperItalic;
}
.speakers__ers[data-v-8daa8809] {
  font-family: DrukText-Medium;
}
.speakerList[data-v-8daa8809] {
  display: flex;
  flex-wrap: wrap;
}
h1 .speakers[data-v-e80b30a3] {
  font-family: DrukWide-Medium;
}
@media (max-width: 1025px) {
  .speakers h2[data-v-e80b30a3] {
    font-size: 33px;
    line-height: 30px;
    margin-bottom: 30px;
    display: none;
  }
}
.speakers__eak[data-v-e80b30a3] {
  font-family: DrukWide-SuperItalic;
}
.speakers__ers[data-v-e80b30a3] {
  font-family: DrukText-Medium;
}
.speakerList[data-v-e80b30a3] {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 80px;
}
@media (max-width: 1440px) {
  body {
    padding: 0 16px;
    font-size: 18px;
  }
}

.speakerList .speaker .speaker__image:hover {
  cursor: pointer;
}
